a:link {
	color: yellow;
}
a:visited {
	color: yellow;
}
a:hover {
	color: white;
}
a:active {
	color: yellow;
}
@font-face {
	font-family: WillText;
	src: url(de-nada-industries_will-robinson/WillRobinson.ttf);
}
html {
	background-color: #919285;
}
header {
	background-color: #d3dddc;
	height: 80px;
	display: flex;
	justify-content: center;
}
h1 {
	color: yellow;
	font-family: WillText;
	text-shadow: -6px 0 black, 0 1px black,
		1px 0 black, 0 -1px black;
	font-size: 35px;
	text-align: center;
}
.dialights {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
#leftDialight {
	background-color: aliceblue;
	font-size: 0px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border:7px solid #d3dddc;
	margin-left: -20%;
}
#rightDialight {
	background-color: aliceblue;
	font-size: 0px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border:7px solid #d3dddc;
	margin-left: 20%;
}
h2 {
	text-align: center;
}
p {
	text-align: center;
}
.topRow {
	background-color: #d3dddc;
	display: flex;
	justify-content: space-around;
	height: 70px;
	margin-left: 10%;
	margin-right: 10%;
}
.bottomRow {
	background-color: #d3dddc;
	display: flex;
	justify-content: space-around;
	height: 70px;
	margin-left: 10%;
	margin-right: 10%;
}
#AR {
	background-color: #fbd733;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#DR {
	background-color: #49da91;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#PDR {
	background-color: #f61a2c;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#PAR {
	background-color: #49da91;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#SFX1 {
	background-color: #fbd733;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#SFX2 {
	background-color: #fbd733;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#SFX3 {
	background-color: #49da91;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#SFX4 {
	background-color: #f61a2c;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#SFX5 {
	background-color: #49da91;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
#SFX6 {
	background-color: #fbd733;
	font-size: 0px;
	height: 64px;
	width: 50px;
}
.tooltip58 {
	position: relative;
	display: inline-block;
}
.tooltip58 .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}
.tooltip58:hover .tooltiptext {
	visibility: visible;
}
