a:link {
	color: yellow;
}
a:visited {
	color: yellow;
}
a:hover {
	color: white;
}
a:active {
	color: yellow;
}
@font-face {
	font-family: WillText;
	src: url(de-nada-industries_will-robinson/WillRobinson.ttf);
}
html {
	background-color: #919285;
}
body{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
header {
	background-color: #d3dddc;
	width: 700px;
	height: 80px;
}
h1 {
	display: flex;
	justify-content: center;
	color: yellow;
	font-family: WillText;
	text-shadow: -6px 0 black, 0 1px black,
		1px 0 black, 0 -1px black;
	font-size: 35px;
}
.dialights {
	display: flex;
	justify-content:space-around;
	margin-top: 7%;
	padding-left: 20%;
	padding-right: 20%;
}
#leftDialight {
	background-color: aliceblue;
	font-size: 0px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border:7px solid #d3dddc;
}
#rightDialight {
	background-color: aliceblue;
	font-size: 0px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border:7px solid #d3dddc;
}
h2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.tooltip57 {
	position: relative;
	display: inline-block;
}
.tooltip58 {
	position: relative;
	display: inline-block;
}
p {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.buttons{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #d3dddc;
	width: 700px;
	height: 260px;
}
#AR{
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd733;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#DR{
	display: flex;
	flex-wrap: wrap;
	background-color: #49da91;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#PDR{
	display: flex;
	flex-wrap: wrap;
	background-color: #f61a2c;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#PAR{
	display: flex;
	flex-wrap: wrap;
	background-color: #49da91;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX1{
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd733;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX2{
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd733;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX3{
	display: flex;
	flex-wrap: wrap;
	background-color: #49da91;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX4{
	display: flex;
	flex-wrap: wrap;
	background-color: #f61a2c;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX5{
	display: flex;
	flex-wrap: wrap;
	background-color: #49da91;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX6{
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd733;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
.tooltip58 .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}
.tooltip58:hover .tooltiptext {
	visibility: visible;
}
@media screen and (min-width: 640px){}
header {
	display: flex;
	justify-content: center;
	background-color: #d3dddc;
	width: 700px;
	height: 80px;
}
h1 {
	display: flex;
	justify-content: center;
	color: yellow;
	font-family: WillText;
	text-shadow: -6px 0 black, 0 1px black,
		1px 0 black, 0 -1px black;
	font-size: 35px;
}
.dialights {
	display: flex;
	justify-content:space-around;
	margin-top: 7%;
	padding-left: 20%;
	padding-right: 20%;
}
#leftDialight {
	background-color: aliceblue;
	font-size: 0px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border:7px solid #d3dddc;
}
#rightDialight {
	background-color: aliceblue;
	font-size: 0px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border:7px solid #d3dddc;
}
h2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.tooltip57 {
	position: relative;
	display: inline-block;
}
.tooltip58 {
	position: relative;
	display: inline-block;
}
p {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.buttons{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #d3dddc;
	width: 700px;
	height: 260px;
}
#AR{
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd733;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#DR{
	display: flex;
	flex-wrap: wrap;
	background-color: #49da91;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#PDR{
	display: flex;
	flex-wrap: wrap;
	background-color: #f61a2c;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#PAR{
	display: flex;
	flex-wrap: wrap;
	background-color: #49da91;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX1{
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd733;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX2{
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd733;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX3{
	display: flex;
	flex-wrap: wrap;
	background-color: #49da91;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX4{
	display: flex;
	flex-wrap: wrap;
	background-color: #f61a2c;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX5{
	display: flex;
	flex-wrap: wrap;
	background-color: #49da91;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
#SFX6{
	display: flex;
	flex-wrap: wrap;
	background-color: #fbd733;
	font-size: 0px;
	width: 120px;
	height: 120px;
}
.tooltip58 .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}
.tooltip58:hover .tooltiptext {
	visibility: visible;
}
